#
#	 generic .gitignore
#

## no hiddens in scm
.*

## editor backups
*~
*.bak
*.old
*.swp
*.tmp

## binary output
*.[ao]
*.l[ao]
*.so
*.apk
*.app
*.bin
*.dex
*.dll
*.dylib
*.elf
*.exe
*.lib
*.[gp]ch
*.py[cod]
*.obj
*.out

## java
*.class
*.[jerw]ar
*.ser

## other
*.dump
*.iml
*.log
*.test
*.cover

## build dirs
/bin/
/build/
/dist/
/classes/
/target/
/eggs/
/pkg/
/out/
/tmp/
/var/

node_modules/
__pycache__/
__pypackages__/
*.egg-info/

## allow 
!.git*
!.dockerignore
!.eslint*
!.npmingore
!.travis.yml

#.
